.contact-container {
    margin: auto;
    max-width: 1200px;
    height: fit-content;
    padding: 80px 50px 0 50px;
    background-color: black;
    border-radius: 70px;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    -ms-border-radius: 70px;
    -o-border-radius: 70px;

    margin-bottom: 100px;
}

.contactMan {
    width: 450px;
}

.contact-links a:hover {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
}


@media (max-width: 400px) {
    .contactMan {
        margin-bottom: 50px;
    }

    .find {
        margin-bottom: 50px;
    }

    .call {
        margin-bottom: 50px;
    }
}


@media (min-width: 400px) and (max-width: 600px) {
    .contactMan {
        margin-bottom: 50px;
    }

    .find {
        margin-bottom: 50px;
    }

    .call {
        margin-bottom: 50px;
    }
}


@media (min-width: 600px) and (max-width: 800px) {
    .contactMan {
        margin-bottom: 50px;
    }

    .find {
        margin-bottom: 50px;
    }

    .call {
        margin-bottom: 50px;
    }
}


@media (min-width: 800px) and (max-width: 1150px) {
    .contactMan {
        margin-bottom: 50px;
    }

    .find {
        margin-bottom: 50px;
    }

    .call {
        margin-bottom: 50px;
    }
}